/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  align-self: center;
flex: 0 0 auto;
}

h2 {
  font-size: 2vw;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 1.5vw;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-size: 1.5vw;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.aboutImages img{
  padding: 0 0 20px 0;
  width: 100%;
}

.imageForest{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageForest h3{
  padding-top: 30px;
  margin-right: 200px
}
.imageForest img{
  width: 100%;
}

.alternate-background img{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  width: 40%;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  display:flex;
  justify-content: center;
  align-self: center;
  font-family: "Pangolin", cursive;
  font-size: 12vw;
  color: #fff;
}

#menu{
  display:flex;
  align-content: center;
}

header nav ul li {
  display:flex;
  list-style-type: none;
  margin:auto;
  flex: 1;
  padding-right: 15px;
  width: 100%;
  justify-content: space-evenly;
  object-fit: contain;
}

header nav ul li a {
  display:flex;
  color: #fff;
  text-decoration: none;
  font-size: 2vw;
  margin: auto;
  justify-content: space-evenly;
  
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

header nav{
display: flex;
justify-content: center;
}

.navGroup {
display:flex;
justify-content: space-around;
}
/* -------  Search Form ------- */
form {
  display:flex;
  border: 2px solid #ff385c;
  padding: 10px;
  justify-content: space-evenly;
}

form label {
  display:flex;
  font-weight: bold;
  width: 30%;
  font-size: 1.5vw;
  margin:auto;
}

form select,
form input {
  display: flex;
  margin: auto;
  width: 50%;
  font-size:1.5vw;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 3vw;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px){
 header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 1;

 }
 .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 0 1;
 
}

nav {
  display: flex;
  flex: 0 0 1;
}

.navGroup {
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
width: 20%;
margin: auto;
flex: 0 0 1;
  }
form{
  display:flex;
  object-fit: contain;
}
  form button {
  background-color: #ff385c;
  border: none;
    color: #fff;
    font-size: 2vw;
    width: 15%;
  }
#about {
  display:flex;
  flex-direction: row;
}
.aboutImages{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.aboutImages img{
  display:flex;
  margin: 15px;
  width: 30%;
  align-content: center;
}

.aboutImages p{
  display:flex;
  margin: 15px;
  width: 30%;
  align-content: center;
}

.imageForest{
  align-content:center;
  flex-direction: row;
}
.items {
  width: 50%;
  margin: 15px;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#host{
  display:flex;
  flex-direction: row;
}

.wtbath {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.wtbath img{
  width: 100%;
}


 
}